@use '@styles/vars' as v;

.button {
    background-color: v.$primary-color;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: v.$primary-color;
        filter: brightness(0.8);
    }
}