$primary-color: #007bff;
$secondary-color: #6c757d;

/* Card */
$card-border-color: #ddd;
$card-shadow: rgba(0, 0, 0, 0.1);
$card-shadow-hover: rgba(0, 0, 0, 0.15);
$card-gap: 20px;
$card-min-width: 250px;